.video-card {
    font-size: 18px;
    padding: 15px;
    height: 300px;
    width: 300px;
    padding-bottom: 150px;
}

.video-card img {
    height: 330px;
    width: 240px;
    padding:30px;
    border-radius: 20px;
}

.video-card :hover  {
    filter:saturate(1.5);
    transform: scale(1.1);
}

