.landing-container {
    max-width: 2100px;
    margin: auto;
}

.latest-banner {
    height: 800px;
    padding: 40px;
    background-image: url(../../assets/banner.jpg);
    background-size: cover;
    background-position: center;
}

.videoRow {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    
}