.logo {
    justify-content: right;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.nav-container {
    background-color: #3d363744;
}

.header {
    width: fit-content;
    height: 90px;
  }

.header-list {
    font-size: 23px;
    color: rgb(221, 204, 221);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-bar {
    border: pink 2px;
    color: purple;
}