.logo {
    justify-content: right;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.nav-container {
    background-color: #3d363744;
}

.header {
    width: fit-content;
    height: 90px;
  }

.header-list {
    font-size: 23px;
    color: rgb(243, 232, 243);
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
    width: 1200px
}