.nav-container {
    background-color: #3d363744;
    display: flex;
    justify-content: space-between;
}

.header {
    width: fit-content;
    height: 90px;
  }

.header-list {
    font-size: 23px;
    color: rgb(204, 200, 204);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.textFormatted {
    text-decoration: none;
    color: whitesmoke;
}

.textFormatted:hover  {
    filter: brightness(2.2);
    color: #E50914;
}

.header-list:active {
    color: white
}
.logo {
    width: 130px;
    height: 130px;
    padding: 10px;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
    margin-right: 5px;
}

.header-list a {
    padding: 10px;
}